.start h1 {
    font-size: 3.5em;
    margin-bottom: 0.1rem;
}

#subTitle {
    margin-top: 0.5rem;
    margin-bottom: 2em;
    color: #42a3a9;
    font-weight: 500;

    width: 430px;
    animation: digitando 3s steps(25), blink .4s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
}

@keyframes digitando{
    from{
        width: 0;
    }
}

@keyframes blink{
    100%{
        border-color: rgba(255, 255, 255, 0.2);
    }
}