@import url('https://fonts.cdnfonts.com/css/sf-mono');

html, body {
    height: 100vh;
}

body {
    font-family: 'SF Mono', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #D9D49B 0%, #d1fdff 100%);
    color: #c98c09;
}

button {
    background-color: #D1FDFF;
    color: #53aeb3;
    padding: 0.8rem 1.7rem;
    border-style: none;
    font-weight: 600;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s;
}

button:hover{
    background-color: #51c8ce;
    color: #bdf7f9;
}